:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
} 

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} 


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { 
  color: #fff;
}

#name-app {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 5%;
  width: 50%;
  color: #fff;
}

#name-app h1 {
  font-size: 8rem; 
  font-weight: bold;
  margin: 0; 
  color: #e5ee6c;
}

#name-app h3 {
  font-size: 3rem; 
  font-weight: bold;
  margin: 0; 
}

#name-app p {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  overflow: hidden; 
  display: inline-block;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(255, 255, 255); }
}

.cursor-hidden {
  border-right: none;
}

#btn-login button, #search-dictionary input {
  border: 2px solid transparent;
  background: #333;
  color: #e5ee6c;
  padding: 1rem 2rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%; 
  font-size: 1rem;
}

#btn-login button:before,
#btn-login button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  animation: glow 2s infinite alternate;
}

#btn-login button:before {
  filter: hue-rotate(0deg);
}

#btn-login button:after{
  filter: hue-rotate(145deg);
  animation-delay: 0.5s;
}

@keyframes glow {
  0% {
    border-color: red;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: #e5ee6c;
  }
}

/* Estilos para o menu superior */
#menu-top {
  background-color: #1E222A; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 80px; 
  z-index: 100; 
  display: flex;
  align-items: center; 
  padding: 0 20px; 
  justify-content: space-between;
}

/* Estilos para o menu lateral */
#menu-right {
  background-color: #21252B; 
  position: fixed;
  top: 0; 
  right: 0; 
  width: 60px; 
  height: 100%;
  z-index: 99; 
  padding: 20px;
  display: flex;
  justify-content: center;
}

.commands-container {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 80px; 
  right: 62px; 
  width: 330px;
  z-index: 100;
  height: 240px;
  overflow-y: auto;
  font-size: 0.8rem;
}

.container{
  height: 100vh;
  background: #000;
}

.commands-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prompt-copyright {
  display: flex;
  flex-direction: column;
}

.terminal-container .prompt {
  right: 20px;
  background: #222;
  color:rgb(229, 238, 108);
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  height: 44vh;
  overflow-y: scroll;
}

.prompt-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.prompt span{
  font-size: 0.7rem;
}

.prompt input{
  background-color: #222;
  border: none;
  color: #fff;
  font-size: 0.7rem;
  margin-left: 3px;
}

.tooltip {
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 100;
}

.icon-search {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icon-search.png');
  background-size: contain;
  margin-right: 5px;
}

.icon-shortcut {
  display: inline-block;
  position: fixed;
  top: 100px;
  width: 30px;
  height: 30px;
  background-image: url('../assets/icon-search.png'); /* Adicione o ícone desejado */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

.icon-exe{
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url('../assets/icon-exe.png');
  margin-right: 4px;
}

.command-line {
  display: flex;
  width: 100%; 
  margin-top: 8px;
}

.terminal-container {
  position: fixed;
  bottom: 0;
  right: 60px;
  background: #22222294;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
  height: 50vh;
  width: 440px;
  border: 2px solid transparent;
  overflow: hidden;
}

.terminal-container:before,
.terminal-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  animation: glow 2s infinite alternate;
}

.terminal-container:before {
  filter: hue-rotate(0deg);
}

.terminal-container:after {
  filter: hue-rotate(180deg);
  animation-delay: 0.5s;
}

.search-results h6{
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px !important;
}

.search-results h6, p{
  margin: 10px 0 0px 20px;
}

.search-results {
  position: fixed;
  bottom: 14px;
  width: 50vw;
  height: 88vh;
  z-index: 20;
  overflow-y: scroll;
  left: 20px;
  background-color: #222;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  animation: glow 1s infinite alternate;
  border: 2px solid #fff;
}

.search-results::-webkit-scrollbar, .commands-container::-webkit-scrollbar,
.prompt::-webkit-scrollbar {
  width: 12px; 
}

.search-results::-webkit-scrollbar-thumb, .commands-container::-webkit-scrollbar-thumb,
.prompt::-webkit-scrollbar-thumb {
  background: #e5ee6c; 
  border-radius: 20px; 
}

.search-results::-webkit-scrollbar-track, .commands-container::-webkit-scrollbar-track,
.prompt::-webkit-scrollbar-track {
  background: #f5f5f5; 
}

/* .result-item {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 15px 5px 15px;
  color: #fff;
  background-color: #222;
} */

.result-item {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 15px 5px 15px;
  color: #fff;
  background-color: #222;
}

.result-name {
  font-weight: bold;
  font-size: 1.2em;
}